In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder,OneHotEncoder
import pickle

In [2]:
data = pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
# Preprocessing the data

data=data.drop(['RowNumber','CustomerId','Surname'],axis=1)

In [4]:
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [6]:
lable_encoder_gender=LabelEncoder()
data['Gender'] = lable_encoder_gender.fit_transform(data['Gender'])
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [10]:
one_hot_encoder_geo=OneHotEncoder()
geo_encoded=one_hot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df=pd.DataFrame(geo_encoded,columns=one_hot_encoder_geo.get_feature_names_out(['Geography']))

data=pd.concat([data.drop('Geography',axis=1),geo_encoded_df],axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [12]:
## Splitting the data into features and target
X=data.drop('EstimatedSalary',axis=1)
y=data['EstimatedSalary']

In [13]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

#Scaling the feature

scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [ ]:
## Save the encoders and scaler

with open('reg_label_encoder_gender.pkl','wb')as file:
    pickle.dump(lable_encoder_gender,file)
with open('reg_geo_hot_encoder.pkl','wb')as file:
    pickle.dump(one_hot_encoder_geo,file)
with open('reg_scaler.pkl','wb')as file:
    pickle.dump(scaler,file)

## ANN Regression Problem Statement

In [15]:
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

In [16]:
#Building ANN Model

model=Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)), ## HL1 connected with input layer 
    Dense(32,activation='relu'), ##HL2
    Dense(1) #When we dont apply any activation fxn default is linear activation fxn which works fro regressive models ## Output Layer
])

C:\Users\MSI\AppData\Roaming\Python\Python312\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [18]:
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])
model.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [19]:
log_dir = "reg_logs/fit" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback = TensorBoard(log_dir=log_dir,histogram_freq=1)

In [20]:
##Set up Early Stopping - agarl loss kam nhi ho rha toh stop the model

early_stopping_callback=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [21]:
## Training the model

history=model.fit(
X_train,y_train,
validation_data=(X_test,y_test),
epochs=100,
callbacks=[tensorflow_callback,early_stopping_callback]
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 7ms/step - loss: 100242.7109 - mae: 100242.7109 - val_loss: 98504.4922 - val_mae: 98504.4922
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 100476.7422 - mae: 100476.7422 - val_loss: 96918.4297 - val_mae: 96918.4297
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 98348.4844 - mae: 98348.4844 - val_loss: 92912.3750 - val_mae: 92912.3750
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 93441.6484 - mae: 93441.6484 - val_loss: 86278.4062 - val_mae: 86278.4062
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 86266.9062 - mae: 86266.9062 - val_loss: 77818.8906 - val_mae: 77818.8906
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 77118.9219 - mae: 77118.9219 - val_loss: 69106.2031 - val_mae: 69106.2031
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 68026.3672 - mae: 68026.3672 - val_loss: 61599.0312 - val_mae: 61599.0312
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 60282.6484 - mae: 60282.6484 - val_loss: 56230.1484 - val_mae: 56230.1484
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 55524.5195 - mae: 55524.5195 - val_loss: 53203.0703 - val_mae: 53203.0703
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 52948.8828 - mae: 52948.8828 - val_loss: 51754.1953 - val_mae: 51754.1953
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 51451.6875 - mae: 51451.6875 - val_loss: 51112.5977 - val_mae: 51112.5977
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50867.9336 - mae: 50867.9336 - val_loss: 50875.9531 - val_mae: 50875.9531
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50874.2109 - mae: 50874.2109 - val_loss: 50742.1094 - val_mae: 50742.1094
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50112.7344 - mae: 50112.7344 - val_loss: 50668.9102 - val_mae: 50668.9102
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49675.7500 - mae: 49675.7500 - val_loss: 50612.7773 - val_mae: 50612.7773
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - loss: 50321.1562 - mae: 50321.1562 - val_loss: 50564.3359 - val_mae: 50564.3359
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49914.1406 - mae: 49914.1406 - val_loss: 50523.3008 - val_mae: 50523.3008
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50148.2539 - mae: 50148.2539 - val_loss: 50495.1914 - val_mae: 50495.1914
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50027.4648 - mae: 50027.4648 - val_loss: 50466.9297 - val_mae: 50466.9297
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49513.5273 - mae: 49513.5273 - val_loss: 50447.6211 - val_mae: 50447.6211
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49573.0117 - mae: 49573.0117 - val_loss: 50428.5156 - val_mae: 50428.5156
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49137.9844 - mae: 49137.9844 - val_loss: 50413.6562 - val_mae: 50413.6562
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49898.3008 - mae: 49898.3008 - val_loss: 50387.8594 - val_mae: 50387.8594
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49688.5234 - mae: 49688.5234 - val_loss: 50375.9297 - val_mae: 50375.9297
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49948.7422 - mae: 49948.7422 - val_loss: 50367.8477 - val_mae: 50367.8477
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50210.9219 - mae: 50210.9219 - val_loss: 50357.0078 - val_mae: 50357.0078
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49967.7773 - mae: 49967.7773 - val_loss: 50357.2930 - val_mae: 50357.2930
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50311.4766 - mae: 50311.4766 - val_loss: 50348.8477 - val_mae: 50348.8477
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50100.8594 - mae: 50100.8594 - val_loss: 50341.5547 - val_mae: 50341.5547
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49549.2695 - mae: 49549.2695 - val_loss: 50332.6172 - val_mae: 50332.6172
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49302.3906 - mae: 49302.3906 - val_loss: 50331.7188 - val_mae: 50331.7188
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49607.2188 - mae: 49607.2188 - val_loss: 50323.3359 - val_mae: 50323.3359
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49458.9258 - mae: 49458.9258 - val_loss: 50322.7070 - val_mae: 50322.7070
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49829.3828 - mae: 49829.3828 - val_loss: 50321.6641 - val_mae: 50321.6641
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50002.7031 - mae: 50002.7031 - val_loss: 50326.2656 - val_mae: 50326.2656
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49847.2773 - mae: 49847.2773 - val_loss: 50330.5625 - val_mae: 50330.5625
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49703.7344 - mae: 49703.7344 - val_loss: 50305.3633 - val_mae: 50305.3633
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49625.7578 - mae: 49625.7578 - val_loss: 50294.0195 - val_mae: 50294.0195
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49459.1055 - mae: 49459.1055 - val_loss: 50301.4023 - val_mae: 50301.4023
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49761.3906 - mae: 49761.3906 - val_loss: 50313.2344 - val_mae: 50313.2344
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49611.7266 - mae: 49611.7266 - val_loss: 50310.2539 - val_mae: 50310.2539
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49257.0547 - mae: 49257.0547 - val_loss: 50299.8047 - val_mae: 50299.8047
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 48966.4766 - mae: 48966.4766 - val_loss: 50290.6484 - val_mae: 50290.6484
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 48939.6992 - mae: 48939.6992 - val_loss: 50298.7930 - val_mae: 50298.7930
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49513.2656 - mae: 49513.2656 - val_loss: 50290.7930 - val_mae: 50290.7930
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50000.8594 - mae: 50000.8594 - val_loss: 50292.0898 - val_mae: 50292.0898
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49820.1289 - mae: 49820.1289 - val_loss: 50306.7383 - val_mae: 50306.7383
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49689.1133 - mae: 49689.1133 - val_loss: 50305.0039 - val_mae: 50305.0039
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49153.3477 - mae: 49153.3477 - val_loss: 50309.9258 - val_mae: 50309.9258
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49044.9258 - mae: 49044.9258 - val_loss: 50281.9141 - val_mae: 50281.9141
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49800.1992 - mae: 49800.1992 - val_loss: 50286.3086 - val_mae: 50286.3086
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49635.0312 - mae: 49635.0312 - val_loss: 50285.3594 - val_mae: 50285.3594
Epoch 53/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49759.9648 - mae: 49759.9648 - val_loss: 50294.7461 - val_mae: 50294.7461
Epoch 54/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49671.8164 - mae: 49671.8164 - val_loss: 50292.8242 - val_mae: 50292.8242
Epoch 55/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49644.9961 - mae: 49644.9961 - val_loss: 50292.8008 - val_mae: 50292.8008
Epoch 56/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49726.9375 - mae: 49726.9375 - val_loss: 50304.3477 - val_mae: 50304.3477
Epoch 57/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49833.6016 - mae: 49833.6016 - val_loss: 50300.1367 - val_mae: 50300.1367
Epoch 58/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49106.2539 - mae: 49106.2539 - val_loss: 50304.4141 - val_mae: 50304.4141
Epoch 59/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49005.1758 - mae: 49005.1758 - val_loss: 50298.4609 - val_mae: 50298.4609
Epoch 60/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49702.8359 - mae: 49702.8359 - val_loss: 50304.1016 - val_mae: 50304.1016

In [22]:
## load my tensorbaord extension
%load_ext tensorboard

In [23]:
%tensorboard --logdir reg_logs/fit20250303-151126 --port=6008

In [24]:
## Evaluating the model on the test data

test_loss,test_mae=model.evaluate(X_test,y_test)
print(f'Test MAE : {test_mae}')

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 51204.0586 - mae: 51204.0586
Test MAE : 50281.9140625

In [25]:
model.save('reg_model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.